{% extends "blog/base.html" %}
{% block content %}
          <h1>About</h1>
<h2>ONLINE STORE "DOTIKA"</h2>

<p>We work in the format of an online store, without stores with the goods presented, so goods from our catalog can only be purchased via online ordering on the website.

If you have any questions, you can ask them through the message service and support on our website located at the top of the page, and we will answer you in English.</p>

<p>We always have the largest selection of electronics and household appliances in Montenegro, and perhaps the lowest prices in the country for such goods as: TVs, laptops, mobile phones, tablets, computers and components, peripherals, printers and consumables, refrigerators, washing machines, stoves, air conditioners and much more...

We have tried to make the process of choosing a product on our website as convenient as possible. Each product on the site, in addition to the price, contains a complete list of characteristics necessary for an informed choice. Using filters, in each category you can select products by price, manufacturer, and other necessary parameters.</p>

    <p>When choosing a product, it is very convenient to use the “Add to comparison” option and compare several selected similar products at the same time. The maximum delivery time for goods from Podgorica to all cities of Montenegro is 1-2 working days.
You can see order pick-up points in Montenegro on this map</p>
{% endblock %}

