{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<table>
    <tbody>
    {% if selected_post %}
    <tr>
        <div class="row">
            <div class="col-md-4">
                <br>
                <h2>Title:{{selected_post.title}}</h2>
                <h3>creator:{{ selected_post.user }}</h3>
                <h1>спасибо за покупку!</h1>
            </div>
            <div class="col-md-8">
                <hr>
                <img src="{{selected_post.image.url}}" alt="product image" style="max-width: 200px; max-height: 200px;">
            </div>
            <hr>
        </div>
    </tr>
    {% endif %}
    </tbody>
</table>

<a href="{% url 'main' %}" class="btn btn-primary">Вернутся на главную страницу</a>
{% endblock %}
